<h1>TASK MANAGER PAGE</h1>
{{#each tasks}}
<div class="uk-container uk-align-center uk-card uk-card uk-card-body uk-card-hover">
<a href="/{{_id}}"><img src="{{image}}" alt=""></a> <br>
Company: {{company}} <br>
Industry: {{industry}} <br>
<br>
</div>
{{/each}}

