<form class="uk-form-horizontal uk-margin-large" action="/manager/{{managerId}}" method="POST">

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Title:</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Gig title..." name="title">
        </div>
    </div>
        <label class="uk-form-label" for="form-horizontal-text">Work Description:</label>
        <div class="uk-form-controls">
            <textarea class="uk-textarea" rows="5" placeholder="Describe the job..." name="workDescription"></textarea>
        </div>
        <div class="uk-margin">
        <div class="uk-form-label">Skills Needed:</div>
        
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid uk-form-controls">
            <label><input name="skillsA" class="uk-checkbox" type="checkbox" value="JavaScript" checked> JavaScript</label>
            <label><input name="skillsB" class="uk-checkbox" type="checkbox" value="Python"> Python</label>
            <label><input name="skillsC" class="uk-checkbox" type="checkbox" value="Ruby"> Ruby</label>
            <label><input name="skillsD" class="uk-checkbox" type="checkbox" value="C#"> C#</label>
            <label><input name="skillsE" class="uk-checkbox" type="checkbox" value="Java"> Java</label>
            <label><input name="skillsF" class="uk-checkbox" type="checkbox" value="NodeJS"> NodeJS</label>
            <label><input name="skillsG" class="uk-checkbox" type="checkbox" value="Express"> Express</label>       
            <label>Other &nbsp;<input name="skillsO" class="uk-input-small" type="input" placeholder="..."> </label> 
        </div>
    </div>
        <label class="uk-form-label" for="form-horizontal-text">Estimated # of hours of work: <br> (minimum 4 hours)</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-small" id="form-horizontal-text" type="number" min="4" name="totalHours">
        </div>
    
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Pay per hour: <br> (minimum $15)</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-small" id="form-horizontal-text" type="number" min="15" name="budget">
        </div>
    </div>
    <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Company:</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Company name..." name="company">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-select">Industry:</label>
        <div class="uk-form-controls">
            <select class="uk-select" id="form-horizontal-select" name="industry">
                <option>Select One...</option>
                <option>Consulting</option>
                <option>Data Analytics</option>
                <option>Education</option>
                <option>Entertainment</option>
                <option>Finance</option>
                <option>Healthcare</option>
                <option>Government</option>
                <option>IT</option>
                <option>Media/Marketing</option>
                <option>Other</option>
                <option>Research & Development</option>
                <option>Retail</option>
                <option>SaaS</option>
            </select>
        </div>
    </div>
    <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Date Posted:</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="MM-DD-YYYY" name="postDate">
        </div>
    </div>
    <button class="uk-button uk-button-secondary" type="submit">Submit</button>
</form>